a {
  color: orange;

  &:visited {
    color: green;
  }

  &:hover {
    color: red;
  }

  &:active {
    color: yellow;
  }
}

div {
  & span {
    color: olive;

    &:nth-child(2n) {
      color: pink;
    }
  }
}